* {
  text-align: center;
}

/* default background */
#background {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* navigation links */
.nav-links {
  color: rgb(137, 182, 3)
}

.nav-links:hover {
  color: rgb(4, 193, 218)
}

/* contact link */
#contact-link {
  color: rgb(183, 243, 5)
}

#contact-link:hover {
  color: antiquewhite
}

/* header and footer styling */
header, footer {
  font-size: 20px;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: rgba(47, 102, 96, 0.9);
}

footer {
  bottom: 0;
  height: 2em;
  left: 0;
  position: fixed;
  font-size: small;
  z-index: 9;
  background-color: rgba(77, 152, 144, 0.5);
}

/* make UI content visible*/
#position {
  position: absolute;
  top: 20vh;
  padding: 40px;
  background-color: #F2D7FF;
  width: 100vw;
}

.content-position {
  padding: 30vh 10vh;
  width: 100vw;
}

/* line items */
.line-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}